<div class="layout">
  <aside class="sidebar">
    <div class="brand">
      <div class="brand-logo"><mat-icon>account_balance_wallet</mat-icon></div>
      <span class="brand-name">Mis<span class="brand-accent">Finanzas</span></span>
    </div>

    <div class="user">
      <div class="avatar">{{ userName.charAt(0).toUpperCase() }}</div>
      <div class="user-info">
        <span class="user-name">{{ userName }}</span>
        <span class="user-email">{{ userEmail }}</span>
      </div>
    </div>

    <nav class="nav">
      <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
        <mat-icon>dashboard</mat-icon> Dashboard
      </a>
      <p class="nav-section">Gestionar</p>
      <a routerLink="/categories" routerLinkActive="active" class="nav-link">
        <mat-icon>label</mat-icon> Categorías
      </a>
      <a routerLink="/expenses" routerLinkActive="active" class="nav-link">
        <mat-icon>payments</mat-icon> Gastos
      </a>
      <a routerLink="/incomes" routerLinkActive="active" class="nav-link">
        <mat-icon>savings</mat-icon> Ingresos
      </a>
            <a routerLink="/reports" routerLinkActive="active" class="nav-link">
        <mat-icon>bar_chart</mat-icon> Reportes
      </a>
    </nav>

    <button class="logout" (click)="logout()">
      <mat-icon>logout</mat-icon> Cerrar sesión
    </button>
  </aside>

  <main class="content">
    <router-outlet />
  </main>
</div>